/*.dform
{
	margin-top:12%;
	border-radius: 50px; 
	overflow: hidden;
	width: 35%;
	height: 40%;
	font-family: sans-serif;

}
.aform
{ 	
	margin:2px 2px 2px 2px;
	padding: 6%;
}

.sub
{
	color: white;
	background-color: #FF7400;
	margin-left: 20%;
}
.sub:hover
{
	color: white;
	background-color: #B25100;
}
.subserch:hover
{
		color: white;
	background-color: #B25100;

}*/
/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../imgs/11.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
font-size: 15px;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
font-size: 30px;
margin-left:2%;
margin-bottom: 5%; 
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}